body {
    background-color: #f4f4f9;
}

.output-container {
    white-space: pre-wrap; /* Mantener los saltos de línea */
    background-color: #f9f9f9;
}

.form-container {
    max-width: 800px;
    margin: auto;
}

.form-label-lg {
    font-size: 1.25rem;
    font-weight: 600;
}

.placeholder {
    color: #999;
}
